@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    :root {
      --background: hsl(0 0% 100%);
      --foreground: hsl(222, 17%, 28%);
      --card: hsl(0 0% 100%);
      --card-foreground: hsl(222, 17%, 28%);
      --popover: hsl(0 0% 100%);
      --popover-foreground: hsl(228, 11%, 34%);
      --primary: hsl(35, 66%, 59%);
      --primary-foreground: hsl(300 0% 100%);
      --secondary: hsl(228, 11%, 34%);
      --secondary-foreground: hsl(300 0% 100%);
      --tertiary: hsl(52, 70%, 94%);
      --muted: hsl(60 4.8% 95.9%);
      --muted-foreground: hsl(237 13% 40%);
      --accent: hsl(273 9% 96%);
      --accent-foreground: hsl(222, 17%, 28%);
      --destructive: hsl(35, 73%, 51%);
      --destructive-foreground: hsl(60 9.1% 97.8%);
      --border: hsl(44, 95%, 85%);
      --input: hsl(44, 95%, 85%);
      --ring: hsl(36, 66%, 59%);
      --radius: 0.5rem;
    }

    .dark {
      --background: hsl(222, 17%, 28%);
      --foreground: hsl(60 9.1% 97.8%);
      --card: hsl(222, 17%, 28%);
      --card-foreground: hsl(300 0% 100%);
      --popover: hsl(222, 17%, 28%);
      --popover-foreground: hsl(60 9.1% 97.8%);
      --primary: hsl(35, 66%, 59%);
      --primary-foreground: hsl(300 0% 100%);
      --secondary: hsl(228, 11%, 34%);
      --secondary-foreground: hsl(300 0% 100%);
      --tertiary: hsl(228, 11%, 34%);
      --muted: hsl(228, 11%, 34%);
      --muted-foreground: hsl(237 13% 63%);
      --accent: hsl(228, 11%, 34%);
      --accent-foreground: hsl(300 0% 100%);
      --destructive: hsl(35, 73%, 51%);
      --destructive-foreground: hsl(60 9.1% 97.8%);
      --border: hsl(228, 11%, 34%);
      --input: hsl(228, 11%, 34%);
      --ring: hsl(35, 66%, 59%);
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.h1 {
  @apply text-4xl sm:text-5xl md:text-5xl lg:text-6xl xl:text-6xl xl:leading-[80px] tracking-[-2px] font-bold;
}
.h2 {
  @apply text-2xl sm:text-4xl md:text-4xl lg:text-4xl xl:text-4xl font-bold;
}
.h3 {
  @apply text-xl sm:text-2xl md:text-2xl lg:text-2xl xl:text-2xl font-bold;
}
.h4 {
  @apply text-base sm:text-xl md:text-xl lg:text-xl xl:text-xl font-medium;
}
.subtitle {
  @apply text-muted-foreground text-lg mb-8 font-light;
}

.badge {
  @apply z-10 bg-white dark:backdrop-blur-[44px] shadow-2xl p-4 rounded-[10px] flex items-center gap-x-4;
}

.section-title {
  @apply text-4xl font-bold relative w-max flex items-center justify-between gap-x-3 before:bg-dots_light before:dark:bg-dots_dark before:bg-no-repeat before:bg-center before:w-[24px] before:h-[24px];
}
/* swiper bullets styles */
.swiper-horizontal > .section-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  @apply bg-primary;
}
